@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

$primary: #c8232c;
$info: #01579b;
$danger: #c34a36;
$warning: #f57c00;

// button constants
$input-btn-padding-y: 0.15rem !default;
$input-btn-padding-x: 0.75rem !default;
$font-weight-bold: 700 !default;
$border-radius: 0.75rem !default;
$input-btn-focus-width: 1px;
